*,html{width:100%;height:100%}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
b,strong{font-weight:700}
blockquote{margin:1em 40px}
hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #ccc}
pre,code,kbd,samp{font-size:16px;font-family:monospace,serif;_font-family:"courier new",monospace}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
small{font-size:85%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin:1em 0;padding:0}
nav ul,nav ol{margin:0;padding:0;list-style:none;list-style-image:none}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
@media only screen and (min-width:768px) and (max-width:959px){img{max-width:100%}
}
@media only screen and (max-width:767px){img{max-width:100%}
}
figure,form,fieldset{margin:0;padding:0;border:0}
label{cursor:pointer}
legend{padding:0;border:0;*margin-left:-7px}
button,input,select,textarea{margin:0;vertical-align:baseline;font-size:100%;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
table td{vertical-align:top}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;-webkit-touch-callout:none}
body,button,input,select,textarea{margin:0;background-color:#191919;color:#3f3f3f;font-size:1em;font-family:ff-meta-serif-web-pro,serif;line-height:1.4}
article{overflow:hidden;margin:0 auto;padding:0 20px;max-width:720px}
article small{display:block;margin:0 0 1.5em;text-align:center;font-size:.9em;font-family:proxima-nova,sans-serif}
h1{margin:.9em 0 .1em;color:#212121;font-size:2.5em;font-family:proxima-nova,sans-serif;line-height:1}
h2{margin:1.5em 0 .4em;color:#14a8e5;font-weight:600;font-size:1.6em;font-family:proxima-nova,sans-serif;line-height:1.2}
h3{margin:1.8em 0 .5em;color:#404040;font-weight:500;font-size:1.2em;font-family:museo-slab,serif}
h6{margin:0 0 .3em;margin-bottom:40px;color:#8c9397;font-weight:400;font-style:italic;font-size:1.3em;font-family:museo-slab,serif}
p{margin:0 0 1.5em;font-size:1.05em}
a,a:visited{color:#14a8e5;text-decoration:none}
a:hover,a:focus,a:active,a:visited:hover,a:visited:focus,a:visited:active{outline:0;text-decoration:underline}
a.alt,a:visited.alt{color:#8c9397}
blockquote{margin:1.2em 0 1.7em 1.5em;color:#a6a9ab;font-weight:300;font-style:italic;font-size:19px;font-family:museo-slab}
pre.code,.preview{position:relative;margin:1.2em 0 2em;border:1px solid;border-color:#cdd2d6 #bfc6cb #b3bbc1 #bfc6cb;border-radius:2px;box-shadow:0 1px 1px rgba(0,0,0,.08)}
.two-column pre.code.preview,.two-column .preview.preview{margin-right:20px}
pre.code label,.preview label{position:absolute;top:16px;left:1px;width:60px;color:#4b555c;text-align:center;font-weight:700;font-size:13px;font-family:sans-serif}
pre.code code,.preview code{display:block;overflow-x:auto;margin:0 0 0 60px;padding:15px 16px 14px;border-left:1px #e5eaee solid;color:#333;font-size:13px;font-family:"Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;line-height:19px}
pre.code.code-css code,.preview.code-css code{color:#d84400}
pre.code.code-html code,.preview.code-html code{color:#4576d5}
[data-zoom]:after{position:absolute;top:10px;left:12px;color:#ddd;content:attr(data-zoom);text-transform:uppercase;font-weight:700;font-size:15px;font-family:proxima-nova,sans-serif}
.button,.button:active,.button:visited{display:inline-block;margin:0;padding:13px 30px 12px;border:1px #97a2a4 solid;border-top:1px #a4b0b4 solid;border-bottom:1px #8f9698 solid;border-radius:4px;background-color:#ececec;background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e0e0e0));background-image:-webkit-linear-gradient(top,#f9f9f9,#e0e0e0);background-image:-moz-linear-gradient(top,#f9f9f9,#e0e0e0);background-image:-ms-linear-gradient(top,#f9f9f9,#e0e0e0);background-image:-o-linear-gradient(top,#f9f9f9,#e0e0e0);background-image:linear,top,#f9f9f9,#e0e0e0;box-shadow:0 1px 0 rgba(0,0,0,.05),inset 0 1px 0 white;color:#494f50!important;vertical-align:top;text-decoration:none!important;text-transform:none;text-shadow:0 1px 0 white;letter-spacing:0;font-weight:700;font-size:17px;font-family:proxima-nova;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#F9F9F9',EndColorStr='#E0E0E0')}
.button:hover,.button:active:hover,.button:visited:hover{text-decoration:none}
.dark{background-color:#191919}
.dark header a,.dark header a:visited{color:#2b2e30;font-weight:700}
.dark header a:hover,.dark header a:visited:hover{color:#43484b}
.dark header a.logo,.dark header a:visited.logo{background:#373b3e;color:#191919}
.dark header a.logo:hover,.dark header a:visited.logo:hover{background:#4f5559}
.dark article h1{color:#fff}
.dark article img{margin:0 0 4em;max-width:100%;border-radius:4px;box-shadow:0 1px 3px black}
.dark footer a{color:#2b2e30!important;font-weight:700}
.dark footer a:hover{color:#43484b!important}
.page-swipe header{padding-bottom:0;background-color:#191919}
.page-swipe header a,.page-swipe header a:visited{color:#2b2e30;font-weight:700}
.page-swipe header a:hover,.page-swipe header a:visited:hover{color:#43484b}
.page-swipe header a.logo,.page-swipe header a:visited.logo{background:#373b3e;color:#191919}
.page-swipe header a.logo:hover,.page-swipe header a:visited.logo:hover{background:#4f5559}
@media only screen and (max-width:767px){.page-swipe header{padding:0}
}
.page-swipe header #slider{margin-top:0;max-height:100%}
@media only screen and (max-width:767px){.erweima img{display:none}
.page-swipe header #slider{margin-top:40}
}
.page-swipe header #slider figure{display:block}
.page-swipe header #slider figure div.wrap{position:relative;display:block;height:100%}
@media only screen and (max-width:767px){.page-swipe header #slider figure div.wrap{height:100%;/*max-width:480px*/}
}
.page-swipe header #slider figure div.image{display:block;height:inherit;box-shadow:0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35)}
.page-swipe header #slider figure a{position:absolute;right:20px;bottom:10px;padding:2px 5px;border-radius:3px;background:#000;color:#fff;text-transform:none;letter-spacing:0;font-weight:400;font-size:12px;font-family:franklin-gothic-urw,sans-serif;opacity:.45}
.page-swipe header #slider figure a:hover{text-decoration:none;opacity:.85}
.page-swipe header nav{position:relative;margin:7px auto 0;max-width:680px}
.page-swipe header nav a{color:#555!important;font-style:normal}
.page-swipe header nav #position{margin:0;padding:0;list-style:none;text-align:center
.page-swipe header nav #position li{display:inline-block;margin:0 2px;width:10px;height:10px;border-radius:10px;background:#141414;box-shadow:inset 0 1px 3px black,0 0 1px 1px #202020;cursor:pointer}
.page-swipe header nav #position li.on{background-color:#1293dc;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));background-image:-webkit-linear-gradient(top,#1293dc,#0f6297);background-image:-moz-linear-gradient(top,#1293dc,#0f6297);background-image:-ms-linear-gradient(top,#1293dc,#0f6297);background-image:-o-linear-gradient(top,#1293dc,#0f6297);background-image:linear-gradient(top,#1293dc,#0f6297);box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5)}
.page-swipe article{padding-bottom:60px;text-align:center}
@media only screen and (max-width:767px){.page-swipe article{padding-right:10px;padding-left:10px}
}
.page-swipe article h1{margin:35px 0 10px;font-size:36px;line-height:1.1em}
@media only screen and (max-width:767px){.page-swipe article h1{margin-top:20px;font-size:32px}
}
.page-swipe article h2{margin:0;color:#14a8e5;font-size:17px}
.page-swipe article h2 span{margin:0 6px}
.page-swipe article h3{color:#929a9f;font-size:16px}
.page-swipe article .twitter{margin:20px 0 20px 8px;padding-bottom:50px;text-align:center}
.page-swipe article .twitter iframe{margin:0 10px;max-width:273px}
.page-swipe article .whos-using{margin:18px 0 80px;list-style:none;font-size:0}
.page-swipe article .whos-using li{display:inline-block;width:170px;height:140px;background-position:center;background-size:170px 140px;background-repeat:no-repeat;text-indent:-999em}
@media only screen and (max-width:470px){.page-swipe article .whos-using li{display:block;width:auto!important;height:120px}
}
.page-swipe article #twitter-widget-2,.page-swipe article #twitter-widget-3,.page-swipe article #twitter-widget-4,.page-swipe article #twitter-widget-5{display:inline-block!important;margin:12px!important;width:auto!important;max-width:320px!important;border-radius:4px!important;box-shadow:0 1px 1px rgba(0,0,0,.05)!important;vertical-align:top!important}
@media only screen and (max-width:767px){.page-swipe article #twitter-widget-2,.page-swipe article #twitter-widget-3,.page-swipe article #twitter-widget-4,.page-swipe article #twitter-widget-5{margin-right:0!important;margin-left:0!important}
}
.page-swipe footer{padding:30px 0 30px;background-color:#191919}
.page-swipe footer a{color:#2b2e30!important;font-weight:700}
.page-swipe footer a:hover{color:#43484b!important}
.page-swipe footer .button,.page-swipe footer .button:active,.page-swipe footer .button:visited{margin-bottom:25px;border:0;background-color:#252829;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#252829),color-stop(100%,#1e2021));background-image:-webkit-linear-gradient(top,#252829,#1e2021);background-image:-moz-linear-gradient(top,#252829,#1e2021);background-image:-ms-linear-gradient(top,#252829,#1e2021);background-image:-o-linear-gradient(top,#252829,#1e2021);background-image:linear-gradient(top,#252829,#1e2021);box-shadow:0 1px 1px rgba(0,0,0,.65),inset 0 1px 2px -1px rgba(255,255,255,.2);color:#4c565a!important;text-shadow:0 -1px 0 rgba(0,0,0,.35)}
.post-together header{position:relative;margin-bottom:50px;height:543px;background-color:#1b1818;background-image:url(../assets/together-header-bkgd.jpg);background-position:center;background-size:cover;background-repeat:no-repeat}
@media only screen and (max-width:767px){.post-together header{margin-bottom:30px;height:400px}
}
.post-together header a,.post-together header a:visited{color:rgba(255,255,255,.65);font-weight:700;-webkit-font-smoothing:antialiased}
.post-together header a:hover,.post-together header a:visited:hover{color:#fff}
.post-together header a.logo,.post-together header a:visited.logo{background:#fc6d60;color:#fff;color:rgba(255,255,255,.9)}
.post-together header a.logo:hover,.post-together header a:visited.logo:hover{background:#fc6d60}
.post-together header h1{margin-top:216px;padding-right:20px;padding-left:20px;color:#fff;font-size:45px;-webkit-font-smoothing:antialiased}
@media only screen and (max-width:767px){.post-together header h1{margin-top:120px;font-size:36px}
}
.post-together header h6{margin-top:.4em;color:#fc6d60;font-style:normal;font-size:21px;-webkit-font-smoothing:antialiased}
@media only screen and (max-width:767px){.post-together header h6{font-size:18px}
}
.post-together header .photo-by{position:absolute;right:0;bottom:0;left:0;color:rgba(255,255,255,.6);font-weight:400;font-weight:700;font-size:12px;font-family:proxima-nova,sans-serif;-webkit-font-smoothing:antialiased}
.post-together header .photo-by a,.post-together header .photo-by a:visited{padding:0;color:rgba(255,255,255,.6);vertical-align:top;text-transform:none;letter-spacing:0;font-weight:700;-webkit-font-smoothing:antialiased}
.post-together header .photo-by a:hover,.post-together header .photo-by a:visited:hover{color:#fff}
.post-together article a{color:#fc6d60}
.post-together article small a{color:#1a8dc4}
.post-together article h2{color:#1a8dc4}
.post-tech-together header{position:relative;margin-bottom:50px;height:543px;background-color:#2c3c8f}
@media only screen and (max-width:767px){.post-tech-together header{margin-bottom:30px;height:400px}
}
.post-tech-together header a,.post-tech-together header a:visited{color:#4a83c5;font-weight:700}
.post-tech-together header a:hover,.post-tech-together header a:visited:hover{color:#fff}
.post-tech-together header a.logo,.post-tech-together header a:visited.logo{background:#4a83c5;color:#2c3c8f}
.post-tech-together header a.logo:hover,.post-tech-together header a:visited.logo:hover{background:#fff}
.post-tech-together header h1{margin-top:106px;padding-right:20px;padding-left:20px;color:#4a83c5;text-align:center;text-transform:uppercase;letter-spacing:3px;font-size:45px;font-family:"katarine-web",sans-serif;-webkit-font-smoothing:antialiased}
.post-tech-together header h1 span{position:relative;z-index:1;display:block;margin-top:-30px;margin-bottom:10px;color:#fff;text-transform:none;text-shadow:0 0 0 #d9d9d9,0 1px 0 silver,0 2px 0 #a8a8a8,0 3px 0 #909090,0 4px 3px rgba(0,0,0,.1),0 4px 1px rgba(0,0,0,.5),0 0 3px rgba(0,0,0,.2);letter-spacing:0;font-weight:700;font-size:154px}
@media only screen and (max-width:767px){.post-tech-together header h1{margin-top:70px;font-size:26px}
.post-tech-together header h1 span{margin-top:-20px;font-size:110px}
}
@media only screen and (max-width:560px){.post-tech-together header{height:300px}
.post-tech-together header h1{margin-top:40px;font-size:22px}
.post-tech-together header h1 span{margin-top:-20px;font-size:90px}
}
@media only screen and (max-width:470px){.post-tech-together header{height:280px}
.post-tech-together header h1{margin-top:35px;font-size:24px}
.post-tech-together header h1 span{margin-top:-5px;margin-bottom:15px;font-size:60px}
}
.post-tech-together header h6{margin-top:.4em;color:#fc6d60;font-style:normal;font-size:21px;-webkit-font-smoothing:antialiased}
@media only screen and (max-width:767px){.post-tech-together header h6{font-size:18px}
}
.post-tech-together header h6 a,.post-tech-together header h6 a:visited{padding:0;color:rgba(255,255,255,.6);vertical-align:top;text-transform:none;letter-spacing:0;font-weight:700;-webkit-font-smoothing:antialiased}
.post-tech-together header h6 a:hover,.post-tech-together header h6 a:visited:hover{color:#fff}
.post-tech-together article p{font-size:1.2em;font-family:"proxima-nova",sans-serif}
.post-tech-together article a{color:#fc6d60}
.post-tech-together article h2{margin-bottom:.3em;color:#4a83c5;font-size:30px;font-family:"katarine-web",sans-serif}
header{padding:30px 0 80px;text-align:center}
header a,header a:visited{display:inline-block;padding:7px 15px 5px;color:#c6cacd;vertical-align:middle;text-decoration:none;text-transform:uppercase;letter-spacing:1px;font-weight:600;font-size:12px;font-family:proxima-nova,sans-serif}
header a:hover,header a:visited:hover{color:#8c9397;text-decoration:none}
header a.logo,header a:visited.logo{padding:8px 13px 7px;border-radius:25px;background:#14a8e5;color:#fff;letter-spacing:0;font-size:24px;font-family:ddt,sans-serif;line-height:28px}
.stories{margin-top:50px}
.stories a{display:block;padding:20px 0;text-decoration:none}
.stories a span{display:block;color:#272727;font-weight:600;font-size:23px;font-family:proxima-nova,sans-serif}
.stories a em{display:block;color:#8c9397;font-family:museo-slab,serif}
.stories a:hover span{color:#14a8e5;text-decoration:underline}
.three-column{display:inline-block;margin:0 0 3em;width:210px;vertical-align:top}
.qr-button{text-align:center}
.qr-button .button{padding:11px 18px;border-radius:3px;font-size:14px}
.qr{margin:1.2em 0;border:1px solid;border-color:#cdd2d6 #bfc6cb #b3bbc1 #bfc6cb;border-radius:2px;box-shadow:0 1px 1px rgba(0,0,0,.08)}
.tweet-button{margin:30px 0 0;text-align:center}
.tweet-button .fb-like{position:relative;top:-4px}
footer{display:block;padding:80px 0 30px;text-align:center}
footer a{color:#d1d4d6!important;text-decoration:none;text-transform:uppercase;letter-spacing:2px;font-weight:600;font-size:13px;font-family:proxima-nova,sans-serif}
footer a:hover{color:#8c9397!important;text-decoration:none}
