@charset "UTF-8";

/*------------------ common ------------------*/
body {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	/*overflow: hidden; */
	-webkit-text-size-adjust: 100%;
}
body.bk {
	background-color: #000;
}
header {
	background-color: #353535;
	padding: 12px 5%;
	width: 90%;
	min-width: 288px;
	position: relative;
}
header h1 {
	width: 33%;
	float: left;
}
header h1 img {
	width: 100px;
	height: auto;
}
header h1.mangaTitle {
	float: left;
	display: inline-block;
	padding-top: 13px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	/*width: 70%;*/
	height: 23px;

	overflow: hidden;
    line-height: 100%;
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

header h2 {
	color: #fff;
	font-size: 11px;
	text-align: center;
	/*line-height: 120%;*/
	float: left;
	padding: 0 10px;
	margin-top: 0px;
	width: 40%;
}
header p.button-toggle {
	float: right;
	margin: 2px 0 0;
	padding: 9px 16px;
	border-radius: 5px;
	border: solid 1px #616161;
	cursor: pointer;
	color: #fff;
}


.menu {
	width: 100%;
	min-width: 320px;
	height: auto;
	clear: both;
	background-color: rgba(255,255,255,0.95);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 99999;
	text-align: center;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: solid 1px #ddd;
}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.menu ul li {
	margin: 0 !important;
	width: 100%;
	font-size: 15px;
}
.menu ul li a{
	margin: 0;
	padding: 15px 0;
	color: #676767;
	display: block;
	border-bottom: solid 1px #ddd;
}
.menu ul li a:hover {
	background-color: rgba(242,242,242,0.95);
	color: #41ABEF;
}
.menu ul li:last-child a {
	border-bottom: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
section#search {
	background-color: #e1e1e1;
	width: 90%;
	min-width: 288px;
	padding: 6px 5%;
	position: relative;
}
section#search #searchBox {
	border: solid 1px #ccc;
	border-radius: 8px;
	font-size: 14px;
	padding: 5px;
	width: 75%;
	
}
section#search #send {
	border: none;
	font-size: 0;
	height: 24px;
	background: url(../images/icon_search.png) no-repeat left top;
	background-size: 24px 24px;
	margin: 5px 0 0 0;
	width: 15%;
	float: right;
}
nav {
	position: fixed;
	bottom: 0;
	/*background-color: rgba(233,233,233,0.94);*/
	background-color: rgba(239, 180, 180, 1);
	border-top: solid 1px #d7d7d7;
	width: 100%;
	min-width: 320px;
	z-index: 99999;
}
nav ul {
	width: 320px;
	margin: 0 auto;
}
nav ul li {
	position: relative;
	width: 50%;
	min-width: 160px;
	float: left;
	text-align: center;
}
nav ul li a {
	/*padding: 36px 0 8px;*/
	width: 100%;
	color: #959595;
	display: block;
	text-align: center;
}
nav ul li#nav01 a {
	/*background: url(../images/icon_nav01.png) no-repeat center 8px;*/
	background-size: 19px 18px;
}
nav ul li#nav02 a {
	background: url(../images/icon_nav02.png) no-repeat center 11px;
	background-size: 20px 13px;
}
section {
	width: 100%;
	min-width: 320px;
	background-color: #fff;
}
section h2 {
	font-size: 16px;
	font-weight: bold;
	padding: 18px 5% 6px;
	color: #D93A09;
	position: relative;
	line-height: 110%;
}
.more {
	text-align: center;
	padding: 26px 0;
	clear: both;
}
.more a {
	display: inlin-block;
	padding: 8px 40px;
	background-color: #FFDADA;
	color: #777;
	font-size: 14px;
	border-radius: 6px;
}
footer {
	background-color: #fff;
	clear: both;
	width: 100%;
	min-width: 320px;
	text-align: center;
	margin-top: 30px;
	padding-top: 20px;
	color: #888;
	border-top: dotted 1px #ccc;
}
body.bk footer {
	padding-bottom: 10px;
}
/*------------------ bnr ------------------*/
div.bnr01 {
	background-color: #FF8192;
	padding: 20px 0;
	clear: both;
	text-align: center;
}
div.bnr01 ul {
	width: 300px;
	margin: 0 auto;
}
div.bnr01 ul li {
	width: 90px;
	margin: 0 5px;
	float: left;
}
div.bnr01 ul li img {
	width: 90px;
}
div.bnr02 {
	background-color: #ededed;
	width: 100%;
	min-width: 320px;
	display: block;
	position: relative;
	text-align: center;
	line-height: 0;
	clear: both;
}
div.bnr02 img {
	display: inline-block;
}

div.bnr03 {
	clear: both;
	background-color: #FF8192;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	min-width: 320px;
	position: fixed;
	bottom: 0;
}
.bnr04 {
	width: 100%;
	min-width: 320px;
	text-align: center;
	background-color: #FF8192;
	padding: 40px 0;
}
.bnr06 {
	width: 300px;
	margin: 20px auto 0;
	background-color: #FF8192;
	padding: 60px 0;
	text-align: center;
}

/*------------------ top ------------------*/
section#pickup {
	margin-bottom: 10px;
}
section#pickup div.flexslider {
	/*width: 90%;
	min-width: 304px;
	padding: 10px 5% 0;*/
	width: 100%;
	min-width: 320px;
	padding: 2px 0 0;
	background-color: #fff;
}
section#pickup ul.slides {
	width: 90%;
	min-width: 304px;
	padding: 10px 5% 0;
}

section#pickup ul.slides li.book {
	width: 120px;
	float: left;
	position: relative;
	margin: 0 6px;
}
section#pickup ul.slides li.book:first-child {
	margin: 0 6px 0 0;
}
section#pickup ul.slides li.book p.thumb {
	width: 120px;
	height: 174px;
	background-color: #353535;
	position: relative;
}
section#pickup ul.slides li.book p.thumb img {
	width: 120px;
	/*height: 174px;*/
}
section#pickup ul.slides li.book p.thumb img.lankLabel {
	width: 28px;
	height: 30px;
	position: absolute;
	top: -4px;
	left: 4px;
}
section#pickup ul.slides li.book dl {
	width: 104px;
	height: 36px;
	padding: 8px 8px 0;
	color: #fff;
	background-color: #353535;
}
section#pickup ul.slides li.book dl dt {
	font-size: 13px;
	font-weight: bold;
	
	overflow: hidden;
    width: 104px;
    line-height: 100%;
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
section#pickup ul.slides li.book dl dd {
	font-size: 11px;
	padding-top: 6px;
	
	overflow: hidden;
    width: 104px;
    line-height: 100%;
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
section#pickup ul.slides li.book ul {
	height: 44px;
	overflow: hidden;
}
section#pickup ul.slides li.book ul li {
	display: inline-block;
	padding: 4px 2px 0 0;
	font-size: 0;
	line-height: 0;
	width: 59px;
}
section#pickup ul.slides li.book ul li:nth-child(2n) {
	padding: 4px 0px 0 0;
}
section#pickup ul.slides li.book ul a {
	display: inline-block;
	background-color: #FA6464;
	line-height: 100%;
	border-radius: 3px;
	padding:3px 4px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	width: 51px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

/*------------------ mangaList ------------------*/
section.mangaList .container {
    width: auto;
	margin: 0 auto;
}
section.mangaList ul.list li.book {
	width: 140px;
	float: left;
	position: relative;
	margin: 6px 6px 6px;
}
section.mangaList ul.list li.book p.thumb {
	width: 140px;
	height: 203px;
	background-color: #353535;
}
section.mangaList ul.list li.book p.thumb img {
	width: 140px;
	/*height: 203px;*/
}
section.mangaList ul.list li.book dl {
	width: 124px;
	height: 36px;
	padding: 8px 8px 0;
	color: #fff;
	background-color: #353535;
}
section.mangaList ul.list li.book dl dt {
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
    width: 124px;
    line-height: 100%;
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
section.mangaList ul.list li.book dl dd {
	font-size: 11px;
	padding-top: 6px;
}
section.mangaList ul.list li.book ul {
	height: 44px;
	overflow: hidden;
}
section.mangaList ul.list li.book ul li {
	display: inline-block;
	padding: 4px 2px 0 0;
	font-size: 0;
	line-height: 0;
	width: 69px;
}
section.mangaList ul.list li.book ul li:nth-child(2n) {
	padding: 4px 0px 0 0;
}
section.mangaList ul.list li.book ul a {
	display: inline-block;
	background-color: #FA6464;
	line-height: 100%;
	border-radius: 3px;
	padding:3px 4px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	width: 61px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
/*------------------ manga ------------------*/
section#otherLink ul {
	width: 100%;
	min-width: 320px;
}
section#otherLink ul li {
	width: 100%;
	min-width: 320px;
	background-color: #FFB8B2;
	box-sizing: border-box;
	border-bottom: 1px solid #E99393;
	position: relative;
	color: #444;
}
section#otherLink ul li dl {
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	position: relative;
}
section#otherLink ul li dl dt {
	height: 100px;
	width: 70px;
	overflow: hidden;
	float: left;
	position: relative;
}
section#otherLink ul li dl dt img {
	height: auto;
	width: 100%;
}
section#otherLink ul li dl dd {
	float: left;
	width: 215px;
	padding-left: 15px;
}
section#otherLink ul li dl dd.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 140%;
}
section#otherLink ul li dl dd.description {
	line-height: 140%;
	padding-top: 6px;
	color: #444;
	height: 50px;
	overflow: hidden;
}
section#otherLink ul li dl dd.read {
	text-align: center;
	position: absolute;
	bottom: 10px;
	right: 12px;
	line-height: 100%;
	padding: 3px 0;
	border: solid 1px #E99393;
	border-radius: 3px;
	background-color: #fff;
	width: 48px;
}



section#volSelect ul {
	width: 100%;
	min-width: 320px;
}
section#volSelect ul li {
	width: 100%;
	min-width: 320px;
	border-bottom: solid 1px #eee;
	position: relative;
	color: #444;
}
section#volSelect ul li dl {
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	position: relative;
}
section#volSelect ul li dl dt {
	height: 100px;
	width: 70px;
	overflow: hidden;
	float: left;
	position: relative;
}
section#volSelect ul li dl dt img {
	height: auto;
	width: 100%;
}
section#volSelect ul li dl dd {
	float: left;
	width: 215px;
	padding-left: 15px;
}
section#volSelect ul li dl dd.title {
	font-size: 14px;
	font-weight: bold;
	line-height: 140%;
}
section#volSelect ul li dl dd.description {
	line-height: 140%;
	padding-top: 6px;
	color: #777;
	height: 50px;
	overflow: hidden;
}
section#volSelect ul li dl dd.read {
	text-align: center;
	position: absolute;
	bottom: 10px;
	right: 12px;
	line-height: 100%;
	padding: 3px 0;
	border: solid 1px #d3d3d3;
	border-radius: 3px;
	background-color: #fff;
	width: 48px;
}

section#volRead dl {
	margin-top: 20px;
}
section#volRead dl dt {
	width: 120px;
	height: 174px;
	margin: 0 auto;
}
section#volRead dl dt img {
	width: 120px;
	height: 174px;
}
section#volRead dl dd {
	text-align: center;
	padding-top: 8px;
	color: #777;
	width: 300px;
	margin: 0 auto;
	font-size: 14px;
}
section#volRead ul {
	display: block;
	text-align: center;
	padding-top: 24px;
}
section#volRead ul li {
	display: inline-block;
	padding: 0 3px;
}
section#volRead ul li a {
	text-align: center;
	line-height: 100%;
	padding: 6px 10px;
	border: solid 1px #d3d3d3;
	border-radius: 3px;
	color: #444;
	line-height: 100%;
	font-size: 13px;
	display: block;
}


section#container {
	position:relative;
	width: 100%;
	min-width: 320px;
	overflow: hidden;
	background-color: #000;
}
section#container div#mainBox {
	width: 100%;
	min-width: 320px;
	text-align: center;
}
section#container div#mainBox img {
	width: 100%;
	position: relative;
	z-index: 1;
}


/*------------------ category ------------------*/
section#category {
	box-sizing: border-box;
}
section#category ul {
	width: 100%;
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 1px;
}
section#category ul li a {
	text-align: center;
	padding: 20px 0;
	width: 33.3334%;
	min-width: 106.6667px;
	float: left;
	box-sizing: border-box;
	color: #444;
	font-weight: bold;
	line-height: 100%;
	background-color: #C1C1C1;
	
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
section#category ul li:nth-child(2n+1) a {
	background-color: #EDEDED;
}
/*------------------ category list------------------*/
section#category_list {
	box-sizing: border-box;
}
section#category_list ul {
	width: 100%;
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 1px;
}
section#category_list ul li a {
	text-align: center;
	padding: 2px 0;
	width: 50%;
	min-width: 150px;
	float: left;
	box-sizing: border-box;
	color: #444;
	font-weight: bold;
	line-height: 100%;
	
    white-space: nowrap;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

/*------------------ utility ------------------*/
section#utility {
	background: #7B7B7B;
	padding: 20px 0;
}
section#utility .sheet {
	background-color: #fff;
	width: 80%;
	min-width: 216px;
	margin: 0 auto;
	padding: 30px 20px;
	border-radius: 10px;
	color: #555;
	font-size: 14px;
}
section#utility .sheet h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin-bottom: 18px;
	color: #5184CA;
}
section#utility ul li {
	line-height: 160%;
	padding: 5px 0;
	text-indent: -1em;
	padding-left: 1em;
}
section#utility p {
	line-height: 160%;
}
section#utility p strong {
	color: #D93A09;
	font-size: 120%;
	font-weight: bold;
}
section#utility dl#question dt {
	background: url(../images/icon_q.png) no-repeat left top;
	background-size: 12px 12px;
	padding-left: 18px;
	color: #E21400;
	font-weight: bold;
	line-height: 120%;
	margin-bottom: 6px;
}
section#utility dl#question dd {
	background: url(../images/icon_a.png) no-repeat left 5px;
	background-size: 12px 12px;
	padding-left: 18px;
	line-height: 160%;
	margin-bottom: 18px;
}

section#utility .sheet #aboutImg img {
	width: 100%;
	min-width: 216px;
	position: relative;
	margin-top: 12px;
}


/*------------------ lastPage ------------------*/
section#lastPage {
	margin-bottom: 10px;
}
section#lastPage h2 {
	text-align: center;
	font-size: 14px;
	color: #444;
	line-height: 140%;
	padding-bottom: 8px;
}
section#lastPage .toBackTitle{
    margin:10px auto;
    width:300px;
}
section#lastPage .toBackTitle a,
section#lastPage .toBackTitle b{
    float:right;
    display:block;
    margin:10px;
    padding:10px;
    border:solid 1px #CCC;
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */
}
section#lastPage .toBackTitle a:hover{
    background:#EFEFEF;
}
section#lastPage .toBackTitle b{
    font-weight: normal;
    background:#EFEFEF;
    color:#CCC;
}
section#lastPage h3 {
	color: #fff;
	background-color: #FD98A6;
	width: 80%;
	min-width: 288px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 5%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
	border: solid 1px #FD98A6;
	box-sizing: border-box;
}
section#lastPage div#titleList {
	width: 80%;
	padding: 4px 5%;
	min-width: 288px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	position: relative;
	border-right: solid 1px #FD98A6;
	border-left: solid 1px #FD98A6;
	border-bottom: solid 1px #FD98A6;
	box-sizing: border-box;
	font-size: 14px;
}
section#lastPage div#titleList ul li {
	border-bottom: dotted 1px #FD98A6;
	line-height: 140%;
}
section#lastPage div#titleList ul li:last-child {
	border-bottom: none;
}
section#lastPage div#titleList ul li a {
	color: #444;
	padding: 8px 0;
	display: block;
}
.new_arrive_link{float:left;padding-top:20px;}

a.read_start_btn:hover{
    background:#CCC;
}