@charset "utf-8";
*{
	margin:0px;
	padding:0px;	
}

header, article, footer, article, aside, time ,nav { display: block; }  

body {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	background-color: #FFFFFF;
	color: #00000;
	font-size:12px;
	text-align:left;
	margin:0px auto;
}
img{
	border:0px;
}
a:active {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #333333;
}
a:link {
	color: #000000;
	text-decoration: underline;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
table{
	border: 0px;
	border-spacing:inherit;
	border-collapse:inherit;
}
td{
	border: 0px;
}
ul{
	list-style-type:none;
}
