@charset "shift_jis";
#wrapper {
	width: 800px;
	text-align:left;
	background-color:#dedede;
	float:left;	
}
header{
	width: 100%;
	text-align:center;
	float:left;			
}
header h1{
	font-size:12px;
	padding:5px 0px 5px 0px;
}
#Image_ViewArea{
	width: 100%;
	float:left;		
}
.page_block{
	width: 100%;
	float:left;		
}
.page_title{
	width: 100%;
	background-color:#aaaaaa;
	float:left;		
}
.page_title p{
	padding:5px 0px 5px 20px;
	font-size:14px;
	font-weight:bold;
}
.page_viewarea{
	width: 100%;
	float:left;		
}
.data_block{
	width:200px;
	height:130px;
	float:left;		
	text-align:center;
	overflow:hidden;
}
.data_block img{
	margin:5px 0px;
}
